<!-- Modal para Cadastro de Cartão -->
<div id="modal-config-opcoes" class="modal-style">
    <div class="modal-content-style">
        <span class="close" id="fechar-modal-config">&times;</span>
        <h2>Opções</h2>

        <button type="button" class="btn-style" id="btn-gerenciar-limite">Gerenciar limite</button>
        <button type="button" class="btn-style" id="btn-criar-cartao">Criar novo cartão</button>
        <button type="button" class="btn-style" id="btn-excluir-cartao">Excluir cartão</button>
    </div>
</div>
 