<div id="modal-gerenciar-limite" class="modal-gerenciar-limite" style="display: none;">
    <div class="modal-conteudo">
        <span class="fechar" id="fechar-modal-limite">&times;</span>
        <h2>Gerenciar Limite</h2>
        <form id="form_addLimite" method="POST" onsubmit="return enviarPost(event)">
            <label for="mes">Mês:</label>
            <select id="mes" name="mes" required>
                <option value="">Selecione o Mês</option>
                <% const meses=["Janeiro", "Fevereiro" , "Março" , "Abril" , "Maio" , "Junho" , "Julho" , "Agosto"
                    , "Setembro" , "Outubro" , "Novembro" , "Dezembro" ]; %>
                    <% for (let i=0; i < meses.length; i++) { %>
                        <option value="<%= i %>">
                            <%= meses[i] %>
                        </option>
                        <% } %>
            </select>

            <label for="ano">Ano:</label>
            <div class="linha-flex">
                
                <select id="ano" name="ano">
                    <option value="">Selecione o Ano</option>
                    <% if (Array.isArray(anos) && anos.length> 0) { %>
                        <% anos.forEach(ano=> { %>
                            <option value="<%= ano.ano %>">
                                <%= ano.ano %>
                            </option>
                            <% }); %>
                                <% } else { %>
                                    <option value="">Nenhum ano disponível</option>
                                    <% } %>
                </select>

                <button type="button" onclick="mostrarNovoAnoCampo()">Adicionar Novo Ano</button>
            </div>

            <div id="novoAnoCampo" class="linha-flex" style="display: none;">
                <input type="number" id="novo_ano" name="novo_ano" placeholder="Digite um novo ano" min="2023" />
            </div>

            <label for="limite">Limite:</label>
            <input type="text" id="limite" name="limite" placeholder="Digite o limite" required />

            <button type="submit">Salvar Limite</button>
        </form>
    </div>
</div>

<script>
    const btnFechar = document.getElementById('fechar-modal-limite');

    btnFechar.onclick = function() {
        const modal = document.getElementById('modal-gerenciar-limite');
        modal.style.display = 'none';
    }   

    function mostrarNovoAnoCampo() {
        const novoAnoCampo = document.getElementById('novoAnoCampo');
        novoAnoCampo.style.display = novoAnoCampo.style.display === 'none' ? 'flex' : 'none';
    }

    function adicionarAno() {
        const novoAno = document.getElementById('novoAno').value;
        // Adicione lógica para enviar o novo ano para o backend e atualizar o seletor de ano.
    }
</script>